In [9]:
print("Hello World",end="\n")
"Hello World"

Hello World

'Hello World'

In [21]:
str="Hello"
print(len(str))
len("Hello World")

5

11

In [27]:
print(str[-2])
str[1:]

l

'ello'

In [35]:
"Hel"+str[3:]

'Hello'

In [41]:
str=str.upper()
str

'HELLO'

In [43]:
str.lower()

'hello'

In [47]:
str="Hello World"
str.split()

['Hello', 'World']

In [49]:
"Hello {} what are you {}".format("Vivek","doing?")

'Hello Vivek what are you doing?'

In [51]:
"Hello {A} what are you {B}".format(B="doing?",A="Vivek")

'Hello Vivek what are you doing?'

In [81]:
mylist=['hello',"pi",3.14,4,5,6,7,8,9,10]
mylist

['hello', 'pi', 3.14, 4, 5, 6, 7, 8, 9, 10]

In [83]:
mylist[0:5]

['hello', 'pi', 3.14, 4, 5]

In [87]:
mylist = mylist+['Sunflower']
mylist+=['rose']
mylist

['hello', 'pi', 3.14, 4, 5, 6, 7, 8, 9, 10, 'Sunflower', 'rose']

In [91]:
nlist=[1,23,4,5]
nlist.append(67)
nlist

[1, 23, 4, 5, 67]

In [93]:
nlist.pop()
nlist

[1, 23, 4, 5]

In [123]:
dict={'key1':1,'key2':[1,2,3],'key3':['one','two','three']}
dict['key2'][2]

3

In [125]:
dict['key3'][0].upper()

'ONE'

In [127]:
dict['key1']=dict['key1']+1
dict

{'key1': 2, 'key2': [1, 2, 3], 'key3': ['one', 'two', 'three']}

In [129]:
mytuple=(1,2,3,'arziz','edu')
mytuple

(1, 2, 3, 'arziz', 'edu')

In [131]:
len(mytuple)

5

In [133]:
mytuple[-1]

'edu'

In [139]:
myset={1,2,3,4,'2'}

In [145]:
myset.add(9)
myset

{1, 2, '2', 3, 4, 9}

In [149]:
if True:
    print("Hello")

Hello

In [151]:
loc="s"
if loc=='a':
    print('a')
elif loc=='s':
    print("yo")
else:
    print("Error")

yo

In [9]:
a,b,c=40,50,30
if a>b and a>c:
    print(f'{a} is greatest among {a,b,c}')
elif b>a and b>c:
    print(f'{b} is greatest among {a,b,c}')
else:
    print(f'{c} is greatest among {a,b,c}')z

50 is greatest among (40, 50, 30)

In [23]:
#unit=3550
unit = int(input('Enter the number:'))
bill=0
for i in range(1,unit+1):
    if i < 201:
        continue
    elif i < 501:
        bill+=8
    elif i < 1001:
        bill+=11
    else:
        bill+=14
print(bill

Enter the number: 3550

43600

In [41]:
#total,saving=int(input('Enter the Total Income:')),int(input('Enter the saving amount'))
total,saving=4500000,150000
saving=min(saving,200000)
rem=total-saving
total_tax=0
if rem >= 1000000:
    total_tax += 1000000*0.1
    rem-=1000000
if rem >= 1200000:
    total_tax+=1200000*0.2
    rem-=1200000
total_tax+=rem*0.3
print(total_tax)

895000.0

In [ ]:
'''
1 10 lakh 10%
2  next 15 15%
3 next 18%
    for 1 yr
    '''

In [1]:
amt = 6500000
intr=0
if amt>1000000:
    intr+=1000000*0.1
    amt-=1000000
if amt>1500000:
    intr+=1500000*0.15
    amt-=1500000
if amt>0:
    intr+=amt*0.18
print(intr)

1045000.0

In [ ]:
# Electricity Bill Calculation

def calculate_electricity_bill(units):
    if units <= 200:
        bill = 0
    elif units <= 500:
        bill = (units - 200) * 8
    elif units <= 1000:
        bill = (300 * 8) + (units - 500) * 11
    else:
        bill = (300 * 8) + (500 * 11) + (units - 1000) * 14
    
    return bill

units = int(input("Enter the number of units consumed: "))
bill_amount = calculate_electricity_bill(units)

print(f"Total electricity bill for {units} units: Rs. {bill_amount}")


#2nd code
def calculate_tax(salary, savings):
    deductible_savings = min(savings, 200000)
    taxable_salary = salary - deductible_savings

    if taxable_salary <= 1000000:
        return taxable_salary * 0.10
    elif taxable_salary <= 2200000:
        return 100000 + (taxable_salary - 1000000) * 0.20
    else:
        return 340000 + (taxable_salary - 2200000) * 0.30

# Eg:
salaries_savings = [(4500000, 150000), (6200000, 350000)]

for salary, savings in salaries_savings:
    tax = calculate_tax(salary, savings)
    print(f"For Salary: ₹{salary}, Savings: ₹{savings} -> Tax to be paid: ₹{tax:.2f}")


#3rd code
def calculate_fd_interest(amount, years=1):
    first_limit = 10_00_000  
    second_limit = 15_00_000 
    remaining_limit = amount - (first_limit + second_limit)
    
    interest_first = first_limit * 0.10 * years  
    interest_second = second_limit * 0.15 * years 
    interest_remaining = remaining_limit * 0.18 * years  
    
    total_interest = interest_first + interest_second + interest_remaining
    
    return total_interest

# Total FD amount
fd_amount = 65_00_000
interest_earned = calculate_fd_interest(fd_amount, 1)  
print(f"Total interest earned in 1 year on ₹{fd_amount}: ₹{interest_earned}")

In [1]:
#PRIME NUMBERS

no = int(input('Enter the Number:'))
x=0
for i in range(2,(no+1)//2):
    if no%i==0:
        x=1
        print(f'{no} is not prime')
        break
if(x==0):
    print(f'{no} is prime')

Enter the Number: 12

12 is not prime

In [43]:
#ARMSTRONG NUMBER

no = input('Enter the Number:')
len_no=len(no)
sum=0
for i in no:
    sum+=int(i)**len_no
if int(no)==sum:
    print(f'{no} is Armstrong Number')
else:
    print(f'{no} is not an Armstrong Number')

Enter the Number: 153

153 is Armstrong Number

In [15]:
#PATTERN TRIANGLE

n = 5
for i in range(1, n + 1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********

In [35]:
#PATTERN TRIANGLE

n = 5
num = 1  
for i in range(1, n + 1):
    print(' ' * (n - i), end='')  
    for x in range(1, i + 1):
        print(num, end=' ')  
        num += 1  
    print()

    1
   2 3
  4 5 6
 7 8 9 10
11 12 13 14 15

In [37]:
n = 5
num = 1  
for i in range(1, n + 1):
    print(' ' * (n - i), end='')  
    for x in range(1, i + 1):
        print(num, end=' ')  
    num += 1  
    print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [39]:
n = 5
for i in range(n, 0, -1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

*********
 *******
  *****
   ***
    *

In [41]:
n = 5
for i in range(1, n + 1):
    print(' ' * (n - i) + '*' * (2 * i - 1))
for i in range(n-1, 0, -1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [59]:
no1 = int(input('Enter the Number:'))
no2 = int(input('Enter the Number:'))

for no in range(no1,no2):
    if no == 1:
        continue
    x=0
    for i in range(2,(no+1)//2):
        if no%i==0:
            x=1
            #print(f'{no} is not prime')
            break
    if(x==0):
        print(f'{no} is prime')

Enter the Number: 1
Enter the Number: 15

2 is prime
3 is prime
4 is prime
5 is prime
7 is prime
11 is prime
13 is prime

In [55]:
#ASCENDING ORDER

l=[1,5,3,7,9,4,5]
for i in range(len(l)):
    for j in range(len(l)):
        if l[i]<l[j]:
            l[i],l[j]=l[j],l[i]
print(l)

[1, 3, 4, 5, 5, 7, 9]

In [57]:
#DESCENDING ORDER

l=[1,5,3,7,9,4,5]
for i in range(len(l)):
    for j in range(len(l)):
        if l[i]>l[j]:
            l[i],l[j]=l[j],l[i]
print(l)

[9, 7, 5, 5, 4, 3, 1]

In [69]:
#FIBONACCI SERIES

a,b=0,1
n=int(input('Enter the term till you want to genrate the series:'))
print(a,b,end=' ')
for _ in range(n-2):
    c=a+b
    a,b=b,c
    print(c,end=' ')

Enter the term till you want to genrate the series: 5

0 1 1 2 3

In [77]:
sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
rev=""
for c in range(len(sentence)-1,-1,-1):
    rev+=sentence[c]
print(rev)

arthsarahaM,rupaloS,ygolonhceT fo etutitsnI DNAHCLAW

In [85]:
sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
res=[]
for i in range(len(sentence)):
    if i%2==0:
        res.append(sentence[i])
print(res)

['W', 'L', 'H', 'N', ' ', 'n', 't', 't', 't', ' ', 'f', 'T', 'c', 'n', 'l', 'g', ',', 'o', 'a', 'u', ',', 'a', 'a', 'a', 'h', 'r']

In [87]:
sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
res=[]
for i in range(len(sentence)):
    if i%2==1:
        res.append(sentence[i])
print(res)

['A', 'C', 'A', 'D', 'I', 's', 'i', 'u', 'e', 'o', ' ', 'e', 'h', 'o', 'o', 'y', 'S', 'l', 'p', 'r', 'M', 'h', 'r', 's', 't', 'a']

In [95]:
sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
res=[]
x=""
for i in range(len(sentence)):
    x+=str(sentence[i])
    if sentence[i]==" ":
        res.append(x)
        x=""
res.append(x)
print(res)

['WALCHAND ', 'Institute ', 'of ', 'Technology,Solapur,Maharashtra']

In [123]:
sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
vowels=['a','e','i','o','u']
res=[]
for i in range(len(sentence)):
    if sentence[i].lower() in (vowels):
        res.append(sentence[i])
print(res)

['A', 'A', 'I', 'i', 'u', 'e', 'o', 'e', 'o', 'o', 'o', 'a', 'u', 'a', 'a', 'a', 'a']

In [117]:
sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
count={}
for i in sentence:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
print(count)

{'W': 1, 'A': 2, 'L': 1, 'C': 1, 'H': 1, 'N': 1, 'D': 1, ' ': 3, 'I': 1, 'n': 2, 's': 2, 't': 4, 'i': 1, 'u': 2, 'e': 2, 'o': 4, 'f': 1, 'T': 1, 'c': 1, 'h': 3, 'l': 2, 'g': 1, 'y': 1, ',': 2, 'S': 1, 'a': 5, 'p': 1, 'r': 3, 'M': 1}

In [9]:
def length(sen):
    count=0
    for i in sen:
        count+=1
    print(count)
length("Walchand Institue of Technology,Solapur,Maharahstra")

51

In [55]:
def Upper(sen):
    for c in sen:
        if c==' ':
            print(' ',end='')
        if c.islower():
            print(chr(ord(c)-32),end='')
Upper("samkit chopda")

SAMKIT CHOPDA

In [53]:
def Lower(sen):
    for c in sen:
        if c==' ':
            print(' ',end='')
        if c.isupper():
            print(chr(ord(c)+32),end='')
Lower("SAMKIT CHOPDA")

samkit chopda

In [3]:
#WHILE ELSE
no=int(input('Enter a Number'))
x=2
while(x!=(no//2)+1):
    if no%x==0:
        print(f'{no} is not a prime number')
        break
    x+=1
else:
    print(f'{no} is a prime number')

Enter a Number 12

12 is not a prime number

In [9]:
#ARM STRONG USING WHILE
num=no=int(input('Enter a Number'))
x=len(str(no))
sum=0
while(no!=0):
    sum+=(no%10)**x
    no=no//10
if num==sum:
    print(f'{num} is an Armstrong Number')
else:
    print(f'{num} is not an Armstrong Number')

Enter a Number 123

123 is not an Armstrong Number

In [15]:
#FIBONACCI SERIES USING WHILE
a,b=0,1
no=int(input('Enter the term till you want to genrate the fibonacci series:'))-2
print(a,b,end='')
if no>=1:
    while(no!=0):
        c=a+b
        a,b=b,c
        print(f' {c}',end='')
        no-=1

Enter the term till you want to genrate the fibonacci series: 5

0 1 1 2 3

In [17]:
sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
x=len(sentence)-1
while x!=-1:
    print(sentence[x],end='')
    x-=1

arthsarahaM,rupaloS,ygolonhceT fo etutitsnI DNAHCLAW

In [3]:
sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
x=len(sentence)-1
z=0
while z!=x:
    if z%2==0:
        print(sentence[z],end=' ')
    z+=1

W L H N   n t t t   f T c n l g , o a u , a a a h r

In [5]:
sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
x=len(sentence)-1
z=0
while z!=x:
    if z%2==1:
        print(sentence[z],end=' ')
    z+=1

A C A D I s i u e o   e h o o y S l p r M h r s t

In [13]:
sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
x,y,z=len(sentence),"",0
res=[]
while z!=x:
    if sentence[z]==' ':
        res.append(y)
        y=""
    else:
        y+=sentence[z]
    z+=1
res.append(y)
print(res)

['WALCHAND', 'Institute', 'of', 'Technology,Solapur,Maharashtra']

In [9]:
sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
vowels,res=['a','e','i','o','u'],[]
x=len(sentence)-1
while(x!=-1):
    if sentence[x].lower() in vowels:
        res.append(sentence[x])
    x-=1
print(res)

['a', 'a', 'a', 'a', 'u', 'a', 'o', 'o', 'o', 'e', 'o', 'e', 'u', 'i', 'I', 'A', 'A']

In [15]:
sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
count={}
i=len(sentence)-1
while i!=-1:
    if sentence[i] in count:
        count[sentence[i]]+=1
    else:
        count[sentence[i]]=1
    i-=1
print(count)

{'a': 5, 'r': 3, 't': 4, 'h': 3, 's': 2, 'M': 1, ',': 2, 'u': 2, 'p': 1, 'l': 2, 'o': 4, 'S': 1, 'y': 1, 'g': 1, 'n': 2, 'c': 1, 'e': 2, 'T': 1, ' ': 3, 'f': 1, 'i': 1, 'I': 1, 'D': 1, 'N': 1, 'A': 2, 'H': 1, 'C': 1, 'L': 1, 'W': 1}

In [23]:
sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
x,count=len(sentence)-1,0
while x!=-1:
    count+=1
    x-=1
print(count)

52

In [25]:
def prime_number(no):
    x=2
    while(x!=(no//2)+1):
        if no%x==0:
            print(f'{no} is not a prime number')
            break
        x+=1
    else:
        print(f'{no} is a prime number')
prime_number(int(input('Enter the number:')))

Enter the number: 3

3 is a prime number

In [27]:
def Armstrong_Number():
    num=no=int(input('Enter a Number'))
    x=len(str(no))
    sum=0
    while(no!=0):
        sum+=(no%10)**x
        no=no//10
    if num==sum:
        print(f'{num} is an Armstrong Number')
    else:
        print(f'{num} is not an Armstrong Number')
Armstrong_Number()

Enter a Number 153

153 is an Armstrong Number

In [29]:
def Fibonacci_Series(no):
    a,b=0,1
    print(a,b,end='')
    if no>=1:
        while(no!=0):
            c=a+b
            a,b=b,c
            print(f' {c}',end='')
            no-=1
Fibonacci_Series(int(input('Enter the term till you want to genrate the fibonacci series:'))-2)

Enter the term till you want to genrate the fibonacci series: 5

0 1 1 2 3

In [31]:
def reverse():
    sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
    x=len(sentence)-1
    while x!=-1:
        print(sentence[x],end='')
        x-=1
reverse()

arthsarahaM,rupaloS,ygolonhceT fo etutitsnI DNAHCLAW

In [33]:
def Even_Characters():
    sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
    x=len(sentence)-1
    z=0
    while z!=x:
        if z%2==0:
            print(sentence[z],end=' ')
        z+=1
Even_Characters()

W L H N   n t t t   f T c n l g , o a u , a a a h r

In [35]:
def Odd_Characters():
    sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
    x=len(sentence)-1
    z=0
    while z!=x:
        if z%2==1:
            print(sentence[z],end=' ')
        z+=1
Odd_Characters()

A C A D I s i u e o   e h o o y S l p r M h r s t

In [37]:
def Split():
    sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
    x,y,z=len(sentence),"",0
    res=[]
    while z!=x:
        if sentence[z]==' ':
            res.append(y)
            y=""
        else:
            y+=sentence[z]
        z+=1
    res.append(y)
    print(res)
Split()

['WALCHAND', 'Institute', 'of', 'Technology,Solapur,Maharashtra']

In [39]:
def Vowels_Extracter():
    sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
    vowels,res=['a','e','i','o','u'],[]
    x=len(sentence)-1
    while(x!=-1):
        if sentence[x].lower() in vowels:
            res.append(sentence[x])
        x-=1
    print(res)
Vowels_Extracter()

['a', 'a', 'a', 'a', 'u', 'a', 'o', 'o', 'o', 'e', 'o', 'e', 'u', 'i', 'I', 'A', 'A']

In [41]:
def Alphabets_Counter():
    sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
    count={}
    i=len(sentence)-1
    while i!=-1:
        if sentence[i] in count:
            count[sentence[i]]+=1
        else:
            count[sentence[i]]=1
        i-=1
    print(count)
Alphabets_Counter()

{'a': 5, 'r': 3, 't': 4, 'h': 3, 's': 2, 'M': 1, ',': 2, 'u': 2, 'p': 1, 'l': 2, 'o': 4, 'S': 1, 'y': 1, 'g': 1, 'n': 2, 'c': 1, 'e': 2, 'T': 1, ' ': 3, 'f': 1, 'i': 1, 'I': 1, 'D': 1, 'N': 1, 'A': 2, 'H': 1, 'C': 1, 'L': 1, 'W': 1}

In [43]:
def Length_Finder():
    sentence="WALCHAND Institute of Technology,Solapur,Maharashtra"
    x,count=len(sentence)-1,0
    while x!=-1:
        count+=1
        x-=1
    print(count)
Length_Finder()

52

In [1]:
class car:
    def __init__(self,modelname,year):
        self.modelname=modelname
        self.year=year
    def display(self):
        print(self.modelname,self.year)
c1 = car("Toyota",2016)
c1.display()

Toyota 2016

In [3]:
class vehicle:
    def __init__(self,make_model,make_year):
        self.model=make_model
        self.year=make_year

    def display(self):
        print(self.model,self.year)

v = vehicle('Xpulse',2019)
v.display()

Xpulse 2019

In [9]:
class Books:
    books=[]
    def __init__(self,book_titles):
        self.book=book_titles
    def add_book(self):
        Books.books.append((self.book).lower())
    def remove_book(self):
        Books.books.remove(input('Enter the name of the book: ').lower())
    def display_collection(self):
        for x in Books.books:
            print(x)
b = Books('Science')
b.add_book()
b.display_collection()
b.remove_book()

b1 = Books('Oxford Dictionary')
b1.add_book()
b1.display_collection()

science

Enter the name of the book:  science

oxford dictionary

In [11]:
class Sample:
    pass
x=Sample()

In [19]:
class Dog:
    attr1="mammal"
    def __init__(self,name):
        self.name=name
Rodger = Dog("Rodger")
Tommy = Dog("Tommy")
print(Rodger.__class__.attr1)
print(Tommy.__class__.attr1)
print(Rodger.name)
print(Tommy.name)

mammal
mammal
Rodger
Tommy

In [23]:
def get_even_list(l):
    even_no=[]
    for num in l:
        if num%2==0:
            even_no.append(num)
    return even_no
get_even_list([1,2,3,4,5,6])

[2, 4, 6]

In [29]:
def get_even_list(l):
    even_no=[num for num in l if num%2==0 ]
    return even_no
get_even_list([1,2,3,4,5,6])

[2, 4, 6]

In [41]:
class Person(object):
    def __init__(self,name,idnumber):
        self.name=name
        self.idnumber=idnumber

    def display(self):
        print(self.name)
        print(self.idnumber)

    def details(self):
        print(f"My name is{self.name}")
        print(f"idNumber = {self.idnumber}")

class Employee(Person):
    def __init__(self,name,idnumber,salary,post):
        self.salary=salary
        self.post=post
        Person.__init__(self,name,idnumber)

    def details(self):
        print(f"My name is {self.name}")
        print(f"IDnumber: {self.idnumber}")
        print(f"Post: {self.post}")
        print(f"Salary: {self.salary}")

a = Employee('Rahul',886012,20000,'Intern')
a.display()
a.details()

Rahul
886012
My name is Rahul
IDnumber: 886012
Post: Intern
Salary: 20000

In [73]:
class Dad:
    def __init__(self,dname,dage):
        self.dname=dname
        self.dage=dage
    def dad_name(self):
        return self.dname
    def dad_age(self):
        return self.dage

class Mom:
    def __init__(self,mname,mage):
        self.mname=mname
        self.mage=mage
    def mom_name(self):
        return self.mname
    def mom_age(self):
        return self.mage

class Child(Dad,Mom):
    def __init__(self,cname,cage,dname,dage,mname,mage):
        self.name=cname
        self.age=cage
        Dad.__init__(self,dname,dage)
        Mom.__init__(self,mname,mage)

    def child_and_Father_details(self):
        print(f"My name is {self.name} and my father name is {self.dad_name()}")
        
    def child_and_Mother_details(self):
        print(f"My name is {self.name} and my mother name is {self.mom_name()}")

    def child_name(self):
        return self.name

    def child_age(self):
        return self.age

'''c = Child('Rohit',20,'Virendra',55,'Seema',51)
c.child_and_Father_details()
c.child_and_Mother_details()
'''


class Grand_Child(Child):
    def __init__(self,gname,gage,cname,cage,dname,dage,mname,mage):
        self.gname=gname
        self.gage=gage
        Child.__init__(self,cname,cage,dname,dage,mname,mage)

    def family_details(self):
        print(f"Grandfather name:{self.dad_name()}\nGrandfather age:{self.dad_age()}",end="\n\n")
        print(f"Grandmother name:{self.mom_name()}\nGrandmother age:{self.mom_age()}",end="\n\n")
        print(f"Father name:{self.child_name()}\nFather age:{self.child_age()}",end="\n\n")
        print(f"My name:{self.gname}\nMy age:{self.gage}")

g = Grand_Child('Sumit',15,'Rohit',39,'Virendra',71,'Seema',67)
g.family_details()

Grandfather name:Virendra
Grandfather age:71

Grandmother name:Seema
Grandmother age:67

Father name:Rohit
Father age:39

My name:Sumit
My age:15

In [75]:
class Play:
    def __init__(self, sport_name, players, duration, equipment_needed):
        self.sport_name = sport_name
        self.players = players
        self.duration = duration
        self.equipment_needed = equipment_needed
    
    def cricket(self):
        print(f"I play Cricket with {self.players} players. Duration: {self.duration} hours. Equipment: {self.equipment_needed}")
    
    def football(self):
        print(f"I play Football with {self.players} players. Duration: {self.duration} hours. Equipment: {self.equipment_needed}")
    
    def Volleyball(self):
        print(f"I play Volleyball with {self.players} players. Duration: {self.duration} hours. Equipment: {self.equipment_needed}")

p = Play(sport_name="Cricket", players=11, duration=3, equipment_needed="Bat, Ball, Stumps")
p.cricket()

p = Play(sport_name="Football", players=22, duration=2, equipment_needed="Football, Goalposts")
p.football()

p = Play(sport_name="Volleyball", players=12, duration=1.5, equipment_needed="Volleyball, Net")
p.Volleyball()

I play Cricket
I play Football
I play Volleyball

In [81]:
class Number:
    def __init__(self, no):
        self.no = no

    def Palindrome(self):
        no_str = str(self.no)
        if no_str == ''.join(reversed(no_str)):
            return f"{self.no} is a Palindrome"
        else:
            return f"{self.no} is not a Palindrome"

    def prime_number(self):
        if self.no <= 1:
            print(f'{self.no} is not a prime number')
            return
        for x in range(2, int(self.no**0.5) + 1):
            if self.no % x == 0:
                print(f'{self.no} is not a prime number')
                return
        print(f'{self.no} is a prime number')

    def Armstrong_Number(self):
        num = self.no
        x = len(str(self.no))
        sum = 0
        while num != 0:
            sum += (num % 10) ** x
            num //= 10
        if self.no == sum:
            print(f'{self.no} is an Armstrong Number')
        else:
            print(f'{self.no} is not an Armstrong Number')


n = Number(153)
print(n.Palindrome())
n.prime_number()
n.Armstrong_Number()

no = Number(11)
print(no.Palindrome())
no.prime_number()
no.Armstrong_Number()

num = Number(13)
print(num.Palindrome())
num.prime_number()
num.Armstrong_Number()

153 is not a Palindrome
153 is not a prime number
153 is an Armstrong Number
11 is a Palindrome
11 is a prime number
11 is not an Armstrong Number
13 is not a Palindrome
13 is a prime number
13 is not an Armstrong Number

In [95]:
class Parent:
    l=[1,5,3,7,9]
    def __init__(self):
        pass
    def reverse(self):
        Parent.l=Parent.l[::-1]
        print(Parent.l)
    def ascending(self):
        print(sorted(Parent.l))
    def decending(self):
        print(list(reversed(sorted(Parent.l))))

p=Parent()
p.decending()
p.ascending()
p.reverse()

[9, 7, 5, 3, 1]
[1, 3, 5, 7, 9]
[9, 7, 3, 5, 1]