In [35]:
#pip install mysql-connector-python
#pip install mysql

SyntaxError: invalid syntax (3481475229.py, line 1)

In [3]:
import mysql.connector

In [5]:
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password"
)
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000182DFA78770>

In [7]:
dbcursor = db.cursor()
dbcursor.execute("create database if not exists booklist")
dbcursor.execute("show databases")
for i in dbcursor:
    print(i)

('assignment_schema',)
('booklist',)
('customer_orders',)
('information_schema',)
('mysql',)
('performance_schema',)
('samkit_db',)
('studentmanagement',)
('sys',)
('techsaksham',)
('xyz',)

In [9]:
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="booklist"
)
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000182DDCFFE00>

In [11]:
dbcursor = db.cursor()
dbcursor.execute("CREATE TABLE IF NOT EXISTS BOOKLIST.BOOKDETAIL \
(rating int(20), book varchar(40), price decimal(15,2))")
dbcursor.execute("show tables")
for i in dbcursor:
    print(i)

('bookdetail',)

In [19]:
dbcursor.execute("INSERT INTO BOOKLIST.BOOKDETAIL (rating, book, price) VALUES \
(5, 'The Alchemist', 299.99), \
(4, '1984', 199.50), \
(5, 'To Kill a Mockingbird', 250.75), \
(3, 'The Great Gatsby', 180.00), \
(4, 'Moby Dick', 320.25), \
(5, 'Pride and Prejudice', 275.40), \
(3, 'War and Peace', 450.60), \
(4, 'The Catcher in the Rye', 210.80), \
(5, 'Harry Potter and the Sorcerer’s Stone', 500.99), \
(4, 'The Lord of the Rings', 650.30)")

db.commit()

In [29]:

dbcursor.execute("SELECT * FROM BOOKDETAIL")
for x in dbcursor.fetchall():
    print(x)

(5, 'The Alchemist', Decimal('299.99'))
(4, '1984', Decimal('199.50'))
(5, 'To Kill a Mockingbird', Decimal('250.75'))
(3, 'The Great Gatsby', Decimal('180.00'))
(4, 'Moby Dick', Decimal('320.25'))
(5, 'Pride and Prejudice', Decimal('275.40'))
(3, 'War and Peace', Decimal('450.60'))
(4, 'The Catcher in the Rye', Decimal('210.80'))
(5, 'Harry Potter and the Sorcerer’s Stone', Decimal('500.99'))
(4, 'The Lord of the Rings', Decimal('650.30'))
(4, 'Power of Subconscious Mind', Decimal('95.00'))
(3, 'Attitude is Everything', Decimal('75.00'))

In [23]:
form = "INSERT INTO BOOKLIST.BOOKDETAIL(RATING,BOOK,PRICE) values(%s,%s,%s)"
data = [(4,"Power of Subconscious Mind",95.0),(3,"Attitude is Everything",75.00),]
dbcursor.executemany(form,data)
db.commit()